<h1>New Vehicle</h1>
<p>
  {{ vehicle | json }}
</p>
<!-- validation of whole form #f="ngForm" -->
<form (ngSubmit)="submit()" #f="ngForm">
  <div class="form-group">
    <label for="make">Make</label>
    <!-- two way binding for vehicle.make - it's because editing vehicle in future-->
    <!-- (change) binds to change event of dropdown list makes, property models is assigned-->
    <!-- vechicle.make is set from the value m.id (make) -->
    <!-- with two way binding it's possible to dynamically create complex objects -->
    <!-- #make - set the template variable for validation-->
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <div class="alert alert-danger" *ngIf="make.touched && !make.isValid">Please select make.</div>
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <div class="alert alert-danger" *ngIf="model.touched && !model.isValid">Please select model.</div>
  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
    <input type="radio" name="isRegistered" id="registered" value="true" [(ngModel)]="vehicle.isRegistered" > Yes <!-- need to set name of the group of radios -->
  </label>
  <label for="notRegistered" class="radio-inline">
    <input type="radio" name="isRegistered" id="notRegistered" value="false" [(ngModel)]="vehicle.isRegistered" > No
  </label>
 <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{f.id}}">
      <!-- here there is dynamic checkbox, so no ngModel. Event-->
      <input type="checkbox" id="feature{{f.id}}" (change)="onFeatureToggle(f.id, $event)" > {{f.name}}
    </label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName" #contactName="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.isValid">Please enter contact name.</div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input id="contactPhone" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone" #contactPhone="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.isValid">Please enter contact phone.</div>
  <div class="form-group">
    <label for="contactName">Email</label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail" #contactEmail="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.isValid">Please enter contact email.</div>
  <!-- attribute binding -->
  <button class="btn btnprimary" [disabled]="!isValid">Save</button>
</form>